.container_sidebar_right{
    width: inherit;
    margin-top: 46px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suggestion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.suggestion h4{
    color: #888888;
    font-weight: 500;
}
.list_suggestion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}