.container_sidebar_right{
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.suggestion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list_suggestion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}