.App{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: 
    "esquerda conteudo"
    "esquerda conteudo";
}

.lateral_esquerda{
    grid-area: esquerda;
}

.conteudo{
    grid-area: conteudo;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}
.conteudo::-webkit-scrollbar{
    width: 0;
}